/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
}
header {
    background-color: #2e8b57;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajouter une ombre subtile */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo {
    color: #fff;
    font-weight: bold;
}

.logo img {
    height: 60px; /* Diminuer un peu la taille pour plus de finesse */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; /* Espacer uniformément les liens */
}

.nav-links li {
    margin: 0; /* Supprimer les marges, remplacées par le gap */
    margin-top: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif; /* Utiliser une police moderne */
    transition: color 0.3s ease; /* Ajouter une transition fluide sur le hover */
}

.nav-links a:hover {
    color: #FA944B;
    text-decoration: none;
}



/* Ajout de styles pour la version mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 0 20px;
    }
    .nav-links {
        flex-direction: column;
        gap: 15px; /* Espacement réduit pour les petits écrans */
    }
    .logo img {
        height: 60px; /* Réduire la taille du logo pour mobile */
    }
}



/* section accueil */
.accueil {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./image/R.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #3cb371;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #2e8b57;
}



/* section about */
.about {
    display: flex;
    height: 500px;
    width: 100%;
    background-color: #fff; /* La couleur de fond */
    align-items: center;
    justify-content: center; /* Centrer horizontalement */
    padding: 50px;
    text-align: center;
}

.all-about {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center; /* Assure que le contenu de cette div est centré */
}

.a-propos-text {
    margin: 0 auto; /* Centre le texte */
    text-align: center; /* Centre le texte à l'intérieur de la div */
    justify-content: space-between; /* Non nécessaire ici */
    line-height: 1.6; /* Augmente l'espacement entre les lignes pour une meilleure lisibilité */
}

.a-propos-text p {
    margin-bottom: 20px; /* Ajoute un espace entre les paragraphes */
}

.about img {
    height: auto; /* Assure que l'image conserve ses proportions */
    margin-left: 20px; /* Ajoute un peu d'espace à gauche de l'image */
}




/* section service */
.services {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.service-card {
    background-color: #f0f4f1;
    border: 1px solid #e0e4e1;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}




    /* Section contact */
    .formulaire {
        display: flex;
        /* background-color: #007bb7; */
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }

    .for-for {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px; /* Ajoute un espace de 30px entre l'image et le formulaire */
    }

    /* Formulaire et image auront la même taille */
    .formu, .for-for img {
        width: 48%; /* Formulaire et image prennent chacun 48% pour laisser de la place au gap */
    }

    /* Ajuster l'image pour qu'elle prenne toute la place sans déformation */
    .for-for img {
        height: 585px;
        object-fit: cover; /* Ajuste l'image pour qu'elle couvre le conteneur sans se déformer */
        border-radius: 8px;
    }

    form {
        display: flex;
        flex-direction: column;
        background-color: #f0f4f1;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        height: 100%; /* Prendre toute la hauteur disponible */
    }

    label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #2e8b57;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.3s;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-color: #3cb371;
        outline: none;
    }

    button {
        background-color: #3cb371;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #2e8b57;
    }


/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3a7351, #162a1a);
    background: linear-gradient(59deg, #3a7351, #162a1a);
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44dd68;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  
