/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
}
header {
    background-color: #2e8b57;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajouter une ombre subtile */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.logo {
    color: #fff;
    font-weight: bold;
}

.logo img {
    height: 60px; /* Diminuer un peu la taille pour plus de finesse */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; /* Espacer uniformément les liens */
}

.nav-links li {
    margin: 0; /* Supprimer les marges, remplacées par le gap */
    margin-top: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight:bolder;
    font-family: 'Roboto', sans-serif; /* Utiliser une police moderne */
    transition: color 0.3s ease; /* Ajouter une transition fluide sur le hover */
}

.nav-links a:hover {
    color: #FA944B;
    text-decoration: none;
}



/* Ajout de styles pour la version mobile */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 0 20px;
    }
    .nav-links {
        flex-direction: column;
        gap: 15px; /* Espacement réduit pour les petits écrans */
    }
    .logo img {
        height: 60px; /* Réduire la taille du logo pour mobile */
    }
}



/* section accueil */
.api-info {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2B5932; /* Vert foncé pour le texte */
}

.container-api {
    height: 80%;
    width: 80%;
    display: flex;
}

.gauche {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.droite {
    height: 100%;
    width: 30%;
    background-color: #A3C9A8; /* Vert clair pour la section de droite */
    border-radius: 5%; /* Réduction du radius pour un style plus sobre */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 15px;
}

.gch-top {
    height: 50%;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.gch-top-1, .gch-top-2, .gch-top-3 {
    height: 90%;
    width: 30%;
    border-radius: 10px; /* Bordures plus discrètes */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 15px;
}

.gch-top-1 {
    background-color: #8DB596; /* Vert doux */
}

.gch-top-2 {
    background-color: #BFDABD; /* Vert pastel pour un contraste plus clair */
}

.gch-top-3 {
    background-color: #6E8F72; /* Vert légèrement plus sombre pour équilibrer */
}

.gch-bottom {
    height: 50%;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.gch-bottom-1, .gch-bottom-2 {
    height: 100%;
    width: 47%;
    border-radius: 5px; /* Bordures plus discrètes */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 15px;
}

.gch-bottom-1 {
    background-color: #A8C4B3; /* Un autre vert subtil */
}

.gch-bottom-2 {
    background-color: #86A89D; /* Vert plus foncé */
}

.ville {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2B5932; /* Harmonisation avec le texte global */
    padding-bottom: 15px;
}






/* section service */
.services {
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.service-card {
    background-color: #f0f4f1;
    border: 1px solid #e0e4e1;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}




    /* Section contact */
    .contact{
        /* background-color: #007bb7; */
        height: 50vh;
    }
    .formulaire {
        display: flex;
        /* background-color: #007bb7; */
        align-items: center;
        justify-content: center;
        /* padding: 50px 0; */
    }

    .for-for {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 30px; */
    }

    /* Formulaire et image auront la même taille */
    .formu, .for-for img {
        width: 48%; 
    }

    .for-for img {
        height: 585px;
        object-fit: cover; /* Ajuste l'image pour qu'elle couvre le conteneur sans se déformer */
        border-radius: 8px;
    }

    form {
        display: flex;
        flex-direction: column;
        background-color: #f0f4f1;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        height: 80%; /* Prendre toute la hauteur disponible */
    }

    label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #2e8b57;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        transition: border-color 0.3s;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-color: #3cb371;
        outline: none;
    }

    button {
        background-color: #3cb371;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #2e8b57;
    }


/*FOOTER*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3a7351, #162a1a);
    background: linear-gradient(59deg, #3a7351, #162a1a);
    color: white;
    margin-top:100px;
  }
  
  footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  
  footer a:hover {
    color: #FA944B;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  /* footer social icons */
  
  .social-network a.icoFacebook:hover {
    background-color: #3B5998;
  }
  
  .social-network a.icoLinkedin:hover {
    background-color: #007bb7;
  }
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i {
    color: #fff;
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
    color: #44dd68;
  }
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
  
  .social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #F9F9F9;
  }
  
