/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le body prend tout l'écran */
    margin: 0;
    padding: 0;
}

/* Ajustement du header */
header {
    background-color: #2e8b57;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajouter une ombre subtile */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Utilise toute la largeur */
    max-width: 1200px; /* Ajoute une largeur maximale pour éviter des écrans trop larges */
    margin: 0 auto;
}

.logo img {
    height: 60px; /* Taille ajustée du logo */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; /* Espacer uniformément les liens */
}

.nav-links li {
    margin-top: 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif; /* Utiliser une police moderne */
    transition: color 0.3s ease; /* Ajouter une transition fluide sur le hover */
}

.nav-links a:hover {
    color: #FA944B;
    text-decoration: none;
}

/* Ajuster les sections */
.projet-all {
    width: 100%; /* Assurez-vous que la section utilise toute la largeur */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100%; /* Utiliser toute la largeur de l'écran */
    height: 100%; /* Ajuster la hauteur */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/arbre.png');
}

.box-arbre {
    width: 100%; /* Utiliser 50% de l'espace disponible */
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}



/* Ajuster les feuilles */
.leaf-card {
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: #2e8b57;
    color: whitesmoke;
    font-size: smaller;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.leaf-card:hover {
    transform: scale(1.1);
}

/* Modal Styles */

.modal {
    display: none; /* La modal est masquée par défaut */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; /* Pour s'assurer que la modal est au-dessus des autres éléments */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:700px;
    margin-top:440px
}

/* Contenu de la modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px; /* Largeur maximale */
    position: relative;
}

/* Bouton de fermeture */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}



/* Positionnement des feuilles sur les branches avec top/left */
.leaf-card:nth-child(1) { /*front end*/
    top: 245px;
    right:760px;
}

.leaf-card:nth-child(2) {/*backend*/
    top: 680px;
    right: 350px;
}

.leaf-card:nth-child(3) { /*hebergement*/
    top: 450px;
    right: 590px;
}

.leaf-card:nth-child(4) { /*reseaux*/
    top: 310px;
    left: 465px;
}

.leaf-card:nth-child(5) {/*ux ui*/
    top: 650px;
    left: 420px;
}

/* Footer */
footer {
    background: linear-gradient(59deg, #3a7351, #162a1a);
    color: white;
    width: 100%;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul.social-network {
    list-style: none;
    display: inline;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}