{% extends 'base.html.twig' %}

{% block title %}Projet avec feuilles{% endblock %}



{% block body %}

    <h1>Green IT - Arbre</h1>

<section class="projet-all">
        <div class="box">
            <div class="box-arbre"> 

                <!-- Conteneur pour les feuilles -->
                <div id="leaves-container"> </div>
            
                <!-- Modal -->
            
                <!-- Modal Structure -->
            <div id="infoModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 id="modal-theme"></h2> <!-- Thème -->
                    <h1 id="modal-title"></h1> <!-- Titre -->
                    <p id="modal-text"></p> <!-- Description -->
                </div>
            </div>
            
            <!--close modal-->
                <div id="infoModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p id="modal-text"></p>
                    </div>
                </div></div>
                
        
              </div>
  
      </section>

<script>

    const LEAVES = [
        {% for theme in themes %}
            {% for info in theme.infos %}
                {
                    theme: "{{ theme.nom|e('js') }}",
                    name: "{{ info.titre|e('js') }}",
                    info: "{{ info.description|e('js') }}"
                }{% if not loop.last %},{% endif %}
            {% endfor %}{% if not loop.last %},{% endif %}
        {% endfor %}
    ];

    console.log(LEAVES); // Pour vérifier les données


function createLeafCard(leaf) {
    const card = document.createElement('div');
    card.className = 'leaf-card';

    const title = document.createElement('h1');
    title.textContent = leaf.theme;
    card.appendChild(title);

    card.addEventListener("click", () => {
        document.getElementById('modal-text').textContent = leaf.info;
        document.getElementById('infoModal').style.display = 'block';
        document.getElementById('modal-theme').textContent = leaf.theme;
        document.getElementById('modal-title').textContent = leaf.name;
    });

    return card;
}

function displayLeaves(leaves) {
    const container = document.getElementById('leaves-container');
    container.innerHTML = "";
    leaves.forEach(leaf => {
        const leafCard = createLeafCard(leaf);
        container.appendChild(leafCard);
    });
}

document.addEventListener('DOMContentLoaded', () => {
    displayLeaves(LEAVES);
});

// Pour fermer le modal
document.querySelector('.close').addEventListener('click', function() {
    document.getElementById('infoModal').style.display = 'none';
});
</script>
{% endblock %}
